.delete-button {
    background-image: url('../../images/deleteButton.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border: none;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.delete-button:hover {
    opacity: 0.6;
  }