.popup__error {
  width: 358px;
  height: 15px;
  margin: 5px auto 13px 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  overflow: visible;
}

@media screen and (max-width: 740px) {
  .popup__error {
    margin-left: 18px;
    width: 238px;
  }
}
